.ivelt-media__root {
    reset: all;
    margin-top: 1.5rem;
    padding: .75rem;
    border-left: solid #60a5fa 3px;
    background: #dbeafe;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .container {
        display: flex;
        position: relative;
    }

    .skeleton {
        position: absolute;
        inset: 0;
        background: rgb(208 213 221);
        animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    }

    iframe {
        z-index: 10;
    }
    
    video {
        z-index: 10;
        display: block;
        width: 300px;
        height: 169px;
    }
}

@keyframes pulse {
    50% {
        opacity: .5;
    }
}